body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  overflow: hidden;

  color: white;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.center {
  width: 100%;
  text-align: center;
}

.colour0 {
  background-color: #353839;
}

.glow {
  opacity: 0.6;
  transition: 0.25s;
}

.glow:hover {
  opacity: 1 !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hide {
  display: none !important;
}

.fixed {
  position: fixed;
}

.rblack {
  color: #1a1423;
}

.rblack-bg {
  background-color: #1a1423;
}

.violet {
  color: #3d314a;
}
.violet-bg {
  background-color: #271f30;
}

.isabelline {
  color: #f2efea;
}

.isabelline-bg {
  color: #f2efea;
}

.coral {
  color: #fc7753;
}

.coralBlue {
  color: #66d7d1;
}

.coralBlue-bg {
  background-color: #66d7d1;
}

.Phudu {
  font-family: "Phudu", Arial, Helvetica, sans-serif;
}

.inline {
  display: inline-block;
}

.overflowScroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.selected {
  background-color: #f2efea9a;
}

.selected-glow {
  transition: 0.25s;
  background-color: rgba(240, 248, 255, 0);
}

.selected-glow:hover {
  background-color: #f2efea70;
}

.path {
  font-style: italic;
  /* color: #fc7753; */
  color: #f2efea;
  color: #66d7d1;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.blue {
  background-color: #60c8eb;
}

.green {
  background-color: green;
}
